---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;1,700&display=swap');

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "EB Garamond", "Helvetica Neue", Helvetica, Arial, serif;
  color:#727272;
  font-weight:400;
}
